
	<div class="container-fluid">
  		<div class="row">
    			<div class="col-sm-7 listing">
    				<ul>
						<li><strong>Artist</strong>: <%= @concert.artist %>
							<strong>Venue</strong>: <%= @concert.venue %>
							<strong>City</strong>: <%= @concert.city %>
							<strong>Date</strong>: <%= @concert.date %>
							<strong>Price</strong>: <%= @concert.price %>
							<strong>Description</strong>: <%= @concert.description %>
						</li>
					</ul>
				</div>

				<div class="col-sm-4 commentbox">
					<section>Comments</section>
					<ul>
						<% @comments.each do |comment| %>
						<li><%= comment.textbox %>
						</li>
						<% end %>
					</ul>
					<section>Comments</section>
					<%= form_for [@concert, @new_comment] do |f| %>
						<%= f.label :textbox %>
						<%= f.text_field :textbox, placeholder: "What's on your mind?" %>
						<%= f.button %>
					<% end %>
				</div>
		</div>
	</div>
